@inherits LayoutComponentBase

<PageTitle>MyTube</PageTitle>

<div class="page">
    <Header />
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>